.flex {
  display: flex;
}

.flex-center {
  align-items: center;
}

.flex-jc-sb {
  justify-content: space-between;
}

.flex-jc-sa {
  justify-content: space-around;
}

.flex-jc-end {
  justify-content: end;
}

.t-c {
  text-align: center;
}

.t-r {
  text-align: right;
}

.h100 {
  height: 100%;
}

.margin-center {
  margin: 0 auto;
}

.p20 {
  padding: 20px;
}

.plr20 {
  padding: 0 20px !important;
}

.mlr20 {
  margin: 0 20px;
}

.mr20 {
  margin-right: 20px !important;
}

.mb20 {
  margin-bottom: 20px;
}
